# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore database-related files
*.sqlite3
*.db

# Ignore VS Code settings (optional)
.vscode/

# Virtual environment
venv/

# Scrapy logs and caches
*.log

# Ignore environment files
.env
*.env

# MacOS and Linux system files
.DS_Store
*.swp
